[mysql]
user={{database_home_cnf.database_user}}
password={{database_home_cnf.database_password}}
database={{database_home_cnf.database}}

[mysqldump]
user={{database_home_cnf.database_user}}
password={{database_home_cnf.database_password}}
