[Unit]
Description=Contest Service- __X__ CoLab
PartOf=__x__-colab.service
After=__x__-colab.service
After=eureka-colab.service

[Service]
Restart=on-failure
RestartSec=1
User=__user__
ExecStartPre=__rootPath__/run/startService.sh contest-service contest-colab Contest
ExecStart=/usr/bin/java -Xmx1G -Xms256M -XX:-OmitStackTraceInFastThrow -jar __rootPath__/bundle/services/contest-service-1.0-SNAPSHOT.jar
#It seems that JVM exits with 143 when receiving SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=__x__-colab.service
